%h1.page-header Dashboard
%div.row
  %div.col-md-12
    %div.panel.panel-default
      %div.panel-heading Temperature
      %div.panel-body
        %canvas#canvas{:height => "450", :width => "600"}
%div.row
  %div.col-md-12
    %div.panel.panel-default
      %div.panel-heading Data
      %div.panel-body
        #{@data.as_json}

