%h1.page-header Dashboard
%div.row
  %div.col-md-12
    %div.panel.panel-default
      %div.panel-heading Temperature
      %div.panel-body
        %div.row
          %div.col-md-12
            %p
              Select date:
              %input{type: "text", id: "datepicker"}
        %div.row
          %div.col-md-12
            %canvas#canvas{:height => "150", :width => "600"}


